<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  
<!-- TITULO DA APLICAÇÃO -->
  <display-name>CurSystem</display-name>
  
<!-- PAGINA INICIAL DA APLICAÇÃO -->
  <welcome-file-list>
    <welcome-file>index.jsf</welcome-file>
  </welcome-file-list>
  
<!-- CONFIGURAÇÃO DO TEMPO DE DURAÇÃO DA SESSÃO DO USUARIO -->
  <session-config>
  	<session-timeout>30</session-timeout>
  </session-config>
  
<!-- JAVA SERVER FACES -->
  <servlet>
    <servlet-name>Faces Servlet</servlet-name>
    <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Faces Servlet</servlet-name>
    <url-pattern>*.jsf</url-pattern>
  </servlet-mapping>
  <context-param>
    <description>State saving method: 'client' or 'server' (=default). See JSF Specification 2.5.2</description>
    <param-name>javax.faces.STATE_SAVING_METHOD</param-name>
    <param-value>client</param-value>
  </context-param>
  <context-param>
    <param-name>javax.servlet.jsp.jstl.fmt.localizationContext</param-name>
    <param-value>resources.application</param-value>
  </context-param>
  <listener>
    <listener-class>com.sun.faces.config.ConfigureListener</listener-class>
  </listener>
  <env-entry>
	<env-entry-name>jsf/ClientSideSecretKey</env-entry-name>
	<env-entry-type>java.lang.String</env-entry-type>
   	<env-entry-value>am9kZXRlcHV0b2hhY2tlcg==</env-entry-value>
  </env-entry> 
<!-- FIM DA CONFIGURAÇÃO DO JAVA SERVER FACES -->

<!-- CONFIGURAÇÃO DO TEMA DO PRIMEFACES -->
  <context-param>  
    <param-name>primefaces.THEME</param-name>  
    <param-value>delta</param-value>  
  </context-param>

<!-- Configurações SPRING SECURITY -->
<!-- 		<context-param> -->
<!-- 		      <param-name>contextConfigLocation</param-name> -->
<!-- 		  **<param-value>/WEB-INF/spring/spring-contextApp.xml</param-value>** --> 
<!-- 		      <param-value>/WEB-INF/spring/spring-security.xml</param-value> -->
<!-- 		</context-param> -->
		
<!-- 		<listener> -->
<!-- 		      <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class> -->
<!-- 		</listener> -->
		
<!-- 		<filter> -->
<!-- 		      <filter-name>springSecurityFilterChain</filter-name> -->
<!-- 		      <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class> -->
<!-- 		</filter> -->
<!-- 		<filter-mapping> -->
<!-- 		      <filter-name>springSecurityFilterChain</filter-name> -->
<!-- 		      <url-pattern>/*</url-pattern> -->
<!-- 		      <dispatcher>REQUEST</dispatcher> -->
<!--            	  <dispatcher>ERROR</dispatcher> -->
<!-- 		</filter-mapping> -->
<!-- Fim Configurações SPRING SECURITY -->
 
 <!-- CONFIGURAÇÃO DO GRAPHVIZ NO PRIMEFACES -->
<!--  <filter> -->
<!--     <filter-name>graphvisFilter</filter-name> -->
<!--     <filter-class>org.primefaces.component.graphvis.GraphvisFilter</filter-class> -->
<!--   </filter> -->
<!--   <filter-mapping> -->
<!--     <filter-name>graphvisFilter</filter-name> -->
<!--     <url-pattern>*.swf</url-pattern> -->
<!--   </filter-mapping> -->
</web-app>